body{
    background: blue;
}

#heading {
    font-style: italic;
    color: rgb(255, 140, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4 {
    color: red;
}

.name_of_people  {
    background: yellow;
    color: red;
    width: 70%;
    height: 5%;
}

#label_webcam {
    color: red;
    
}

#webcam {
    width: 300px;
    height: 250px;
    border: 2px dashed black;
}